/*Style sheet for contact.html*/

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf)
}


/*BODY STYLES*/

body{
    background-color: #fffced;
    color: #31241e;
    font-family: poppins;
}

h1{
    color: #31241e;
    font-family: montserrat;
    text-align: center;

}

div{
    display:flex;
    align-items: center;
    justify-content: center;
    /*outline: solid #9D5977; padding:20px; */
}
