/*Style sheet for gallery.html*/

/*FONTS*/
@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf)
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/*NAVIGATION STYLES*/
.navbar {
    font-family: montserrat;
    font-size: 17px;
    position: relative;
    top: 50px;
    right: 100px;
    float: right;


}

.navbar a {
    text-decoration: none;
    color: #31241e;
    text-align: right;
    width: 20%;
    padding: 20px;
    
}

.navbar a.active {
    color: #9D5977;
    font-size: 20px;
}



/*BODY STYLES*/
body {
    font-family: poppins, sans-serif;
    color: #31241e;
    font-size: 18px;
    text-align: left;
    background-color: #fffced;
}

/*SECTION STYLES*/

.line {
    width: 90%;
    height: 1px;
    background-color: #31241e;
    border: none;
    position:relative;
    top: 95px;
    margin: auto;

}

#logo {
    position: relative;
    top: 30px;
    left: 100px;
    float: left;
}

h1 {
    font-family: montserrat;
    font-size: 52px;
    color: #31241e;
    font-weight: normal;
    margin: auto;
    text-align: center;
    position: relative;
    top: 170px;
    left: 160px;

}

#maintext {
    text-align: center;
    position: relative;
    top: 175px;
}

h4 {
    font-family: montserrat;
    color:#9D5977;
    text-decoration: underline #9D5977;
    margin:auto;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 200px;
}

img.one {
    width: 10%;
    position: relative;
    padding: 5px;
    top: 200px;
    left: 425px;
}

